* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
}

.wrapper {
  height: auto;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  height: 50vh;
  width: 100vw;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__logo {
  height: 6em;
  width: 6em;
  background: url('../img/logoGraphic.svg') center center no-repeat;
  background-size: cover;
  margin-bottom: 2em;
}

.header__logo--text {
  color: #fff;
  filter: drop-shadow(2px 1px 0px rgba(0, 0, 0, .15));
  text-transform: uppercase;
  font-size: 3.5em;
  font-weight: 900;
  margin-bottom: .5em;
  margin-top: .5em;
}

.header__subtext {
  font-size: 1.4em;
  font-weight: 300;
  color: #cccccc;
}
