* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
}

.wrapper {
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header {
  height: 50vh;
  width: 100vw;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  transition: all .6s ease-in-out;
}

.header__logo {
  height: 6em;
  width: 6em;
  background: url('../img/logoGraphic.svg') center center no-repeat;
  background-size: cover;
  margin-bottom: 2em;
  border-radius: 100%;
}

.header__logo--text {
  color: #fff;
  filter: drop-shadow(2px 1px 0px rgba(0, 0, 0, .15));
  text-transform: uppercase;
  font-size: 3.5em;
  font-weight: 900;
  margin-bottom: .5em;
  margin-top: .5em;
}

.header__subtext {
  font-size: 1.4em;
  font-weight: 300;
  color: #cccccc;
}

.landing {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 4px solid #fbb03b;
  margin-bottom: 6em;
}

.landing__graphic {
  width: 80%;
}

.downArrow {
  animation: ArrowBounce .8s ease-in-out infinite;
}

.section {
  height: auto;
  width: 65%;
  max-width: 800px;
}

.section__lead {
  color: #73c43f;
  font-size: 2.25em;
  font-weight: 400;
  width: 100%;
  margin-bottom: .5em;
  margin-left: -.6em;
  padding-left: 0.4em;
  letter-spacing: 1px;
}

.section__copy {
  color: #aaa;
  font-size: 1.3em;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 1.75em;
  letter-spacing: 1px;
}

.section__sublead {
  color: #999999;
  font-size: 1.7em;
  font-weight: 300;
  width: 85%;
  margin-bottom: 1.25em;
}

.section__links {
  width: 90%;
}

.section__links--item {
  line-height: 1.5;
  font-size: 1.2em;
  letter-spacing: 1px;
  font-weight: 300;
  margin-bottom: 1em;
}

.section__links--item a, .section__links--item a:hover {
  color: #fbb03b;
}

.section__links--item a:visited, :focus {
  color: #cccccc;
}

@keyframes ArrowBounce {
  0% {
    transform: translateY(0);
    transform-origin: center;
  }
  50% {
    transform: translateY(-.75em);
    transform-origin: center;
  }
  100% {
    transform: translateY(0);
    transform-origin: center;
  }
}

@media (max-width: 375px) {
  .landing {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 4px solid #fbb03b;
    margin-bottom: 3em;
  }
  .landing__graphic {
    width: 280%;
  }
  .section {
    width: 80%;
  }
  .section__lead {
    color: #73c43f;
    font-size: 1.46em;
    font-weight: 400;
    width: 100%;
    margin-bottom: 1em;
    margin-left: -.6em;
    border-left: 2px solid #fbb03b;
    padding-left: 0.4em;
    letter-spacing: 1px;
  }
  .section__copy {
    color: #aaa;
    font-size: 1em;
    line-height: 2;
    font-weight: 300;
    margin-bottom: 1.75em;
    letter-spacing: .04em;
  }
  .section__sublead {
    color: #999999;
    font-size: 1.2em;
    font-weight: 300;
    width: 100%;
    margin-bottom: 1.65em;
    letter-spacing: 1px;
  }
  .section__links {
    width: 85%;
    color: #fbb03b;
    list-style: none;
  }
  .section__links--item {
    line-height: 1.5;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 300;
    margin-bottom: 1.5em;
    padding-left: .5em;
  }
}
